.add_list {
  &_button {
    display: flex;
    align-items: center;
    opacity: 0.2;
    transition: all 0.3s ease-in;
    cursor: pointer;
    &_plus {
      margin: 0px 6px;
      width: 20px;
      cursor: pointer;
    }
    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease-in;
    }
    &:active {
      opacity: 1;
    }

  }

  &_popup {
    position: relative;
    left: -38px;
    bottom: -30px;
    width: 240px;
    background: #ffffff;
    box-shadow: 1px 2px 20px #c9c5c5;
    border-radius: 10px;
    padding: 18px;
    z-index: 2;
    &_emptyField {

    }
    &_close {
      cursor: pointer;
      width: 23px;
      height: 30px;
      position: absolute;
      top: -8px;
      right: -8px;
      opacity: 0.6;
      &:hover {
        opacity: 0.85;
      }

    }
    .button {
      width: 100%;
      margin-top: 15px;
    }

    &_colors {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }

    .badge {
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.2s ease-in;
      &:hover {
        box-shadow:  0px 0px 2px 1px #7e7e7e;
        transition: all 0.2s ease-in;
      }
      &.active {
        box-shadow:  0px 0px 2px 1px #7e7e7e;
      }
    }
  }

}