* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 600px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 1px 2px 20px #c9c5c5;
  border: 1px solid #f1f1f1;
  &_sidebar {
    background-color: #f4f6f8;
    width: 200px;
    border-right: 1px solid #f1f1f1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 60px 20px;
    font-size: 15px;
  }
  &_tasks {
    flex: 1;
    padding: 40px;
    overflow: auto;
  }
}

.button {
  font-size: 14px;
  background: #00c87b;
  border-radius: 5px;
  color: #fff;
  border: 0;
  padding: 9px 20px;
  cursor: pointer;
 &_grey {
   font-size: 14px;
   background: #e5e5e5;
   border-radius: 5px;
   color: #252525;
   border: 0;
   padding: 9px 20px;
   cursor: pointer;
   &:hover {
     background: darken(#e5e5e5, 6%);
     transform: scale(1.04);
   }
   &:active {
     background: darken(#e5e5e5, 10%);
   }
 }


  &:hover {
    background: darken(#00c87b, 6%);
    transform: scale(1.04);
  }
  &:active {
    background: darken(#00c87b, 10%);
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #d7d7d7;
  }
  &:hover {
    border-color: #d7d7d7;
  }
}



