.list {
    $self: &;
    &_remove {
        left: 150px;
        opacity: 0;
        transition: all 0.2s ease-in;
    }
    margin-bottom: 25px;
    li {
        height: 18px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        transition: all 0.5s ease-in;
        &:hover {
            background-color: rgba(245, 246, 248, 0.32);
            box-shadow: 0px 3px 10px #e7e7e7;
            border-radius: 5px;
            transition: all 0.1s ease-in;
            #{$self}_remove {
                transition: all 0.1s ease-in;
                opacity: 0.2;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        &.active {
            background-color: #ffffff;
            box-shadow: 0px 3px 10px #e7e7e7;
            border-radius: 5px;
            transform: scale(1.05);
        }
    }
    &_add-button {
        opacity: 0.4;
        &:hover {
            transition: all 0.1s ease-in;
            opacity: 1;
        }
    }
    img {
        height: 18px;
        position: relative;
        right: 4px;
    }

    span {
        text-decoration: none;
        color: black;
        position: absolute;
        margin-left: 22px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 140px;
        white-space: nowrap;
    }

}

